<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <!--    不做安全验证的配置-->
    <security:http pattern="/favicon.ico" security="none"/>
    <security:http pattern="/css/**" security="none"/>
    <security:http pattern="/img/**" security="none"/>
    <security:http pattern="/js/**" security="none"/>
    <security:http pattern="/plugins/**" security="none"/>
    <security:http pattern="/login.html" security="none"/>
    <!--    安全验证的配置(需要用户登录)-->
    <security:http use-expressions="false">   <!--use-expressions  不使用Spring表达式-->
        <!--pattern="/**" ** 该目录及子目录下所有资源    access 权限规则  注意： ROLE_*  -->
        <security:intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <!--form-login  表示通过form表单进行登录操作-->
        <!--        login-page 自定义登录页-->
        <!--        default-target-ur 验证成功后默认跳转页-->
        <!--        authentication-failure-url  验证失败后跳转页-->
        <security:form-login login-page="/login.html" default-target-url="/admin/index.html" always-use-default-target="true"
                             authentication-failure-url="/login.html"/>
        <!--SpringSecurity 4.X版本后 默认 防 CSRF 跨站请求伪造 是开启-->
        <security:csrf disabled="true"/>
        <security:headers>
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>
<!--        退出登录-->
        <security:logout/>
    </security:http>

    <!--    安全验证管理器的配置-->
    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="123456" authorities="ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>


</beans>